.cartTotal {
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f1f3f8;
    border-radius: 5rem;
    padding: 0.35rem 1rem;
    margin-top: 1rem;
    margin-bottom: 0.66rem;
}
