.cartItem {
    display: grid;
    grid-template-areas: "image name price";
    grid-template-columns: 5rem 2fr 1fr;
    height: 5rem;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.imageUrl {
    grid-area: image;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.itemName {
    grid-area: name;
}

.price {
    text-align: end;
    grid-area: price;
}

.qty {
    text-align: end;
    grid-area: qty;
}
