.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
}

.header {
    margin: 0;
    font-size: 1.5rem;
}

.scannerContainer {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    z-index: 0;
    transform: translateY(0);
}

.navContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
