.shoppingCart {
}

.header {
    margin: 0;
}

.description {
    font-size: larger;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.25fr;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
}
