.shoppingCart {
    display: flex;
    flex-direction: column;
    width: 85vw;
    gap: 2.1rem;
}

.header {
    margin: 0;
    /* margin-bottom: 1rem; */
    text-align: center;
}

.description {
    font-size: 1.2rem;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: left;
    gap: 1.25rem;
    background-color: #eaecf3;
    border-radius: 2rem;
    padding: 0.2rem 0;
    margin-bottom: 0.5rem;
}

.navIcons {
    padding-top: 0.2rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    /* filter: invert(36%) sepia(86%) saturate(5511%) hue-rotate(240deg)
        brightness(99%) contrast(78%); */
    width: 85vw;
}
